body {
  color: black;
  opacity: 0.9;
  position: fixed;
  width: 100%;
}

.navbar {
  display: fixed;
  justify-content: space-between;
  justify-content: center;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(indigo, teal, darkturquoise, indigo);
}

.vertical-center {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  background: #111111;
  filter: blur(1.5erm);
  height: 95vh;
  box-shadow: 0 0 15px 5px #111111;
  opacity: 0.97;
  width: fit-content;
  -webkit-font-smoothing: antialiased;
  -moz-background-clip: text;
  border: lightgrey 2px;
}

.container {
  background: #282828;
  padding: 35px, 10px, 75px, 10px;
  width: 100%;
  height: 92vh;
  opacity: 1;
  box-shadow: 0 0 150px 15px black;
  justify-content: space-evenly;
  overflow: auto;
  overflow-y: hidden;
}

.row {
  flex-direction: row;
  width: 83%;
  display: flexbox;
  flex-direction: unset;
  margin: 0 auto;
  padding: 10px;
}

.col {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-content: space-between;
}

h1 {
  font-size: 2.3em;
  font-weight: 800px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 1.2%;
  color: #999999;
  font-weight: 800;
  position: flex;
  flex-direction: row;
  text-align: center;
  text-shadow: 3px 3px black;
  margin-bottom: 1%;
}

a {
  color: teal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: lightgrey;
  font-size: 0.7em;
  text-decoration: underline;
}

jumbotron {
  width: 100vw;
}

img {
  margin: 0 auto;
  height: 270px;
  width: 245px;
  position: flex;
  border: black 4px solid;
  margin-bottom: 2px;
}

h3 {
  font-size: 1.15em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: orange;
  font-weight: 800;
  text-shadow: 1.8px 1.8px black;
  text-align: center;
  flex-wrap: nowrap;
}

p {
  font-weight: 800px;
  font-style: bold;
  line-height: 1.8;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: justify;
  flex: auto;
  flex-wrap: wrap;
  width: 67%;
  color: lightgrey;
  font-size: 0.9em;
  padding: 0.5%;
  font-weight: 400;
  text-shadow: 2.3px 2.3px black;
  position: flex;
  font-size: 20px;
}

li {
  color: darkgoldenrod;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 2.5%;
  font-size: 1.2em;
  display: flex;
  width: fit-content;
  display: grid;
}

ul {
  list-style-type: initial;
  font-size: 1.2em;
  flex-wrap: wrap;
  flex-direction: column;
}

a {
  color: teal;
  font-style: italic;
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 0.2px 0.1px black;
  flex-wrap: nowrap;
}

#bio {
  position: flex;
  padding: 0.5%;
}

b {
  color: lightgray;
  font-weight: 900;
}

#images {
  padding: 0.2%;
  width: 72%;
  margin-bottom: 1%;
  margin-top: 1%;
}

h4 {
  font-size: 0.75em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: teal;
  padding-top: 4.5%;
  text-shadow: 0.4px 0.3px black;
  font-weight: 900;
}
