body {
  color: black;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  /* overflow: hidden; */
}

.navbar {
  /* display: fixed; */
  justify-content: space-between;
  justify-content: center;
  height: 100%;
  margin: 0;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: linear-gradient( black, #101010, black);
}

.vertical-center {
  /* display: fixed; */
  background: #111111;
  filter: blur(1.5erm);
  box-shadow: 0 0 15px 5px #111111;
  opacity: 0.97;
  margin-top: 0;
  width: fit-content;
  -webkit-font-smoothing: antialiased;
  -moz-background-clip: text;
  padding: 10px;
  overflow: hidden;
  display: flex;
  flex-direction:column;
}

#parent {
  /* background-color: blue; */
  padding: 10px;
  /* height: 500px; */
  overflow: hidden;
  display: flex;
  flex-direction:column;
  position: relative;
  border: 5px solid black;
}




.container {
  padding: 10px;
  background-color: red;
  /* flex-grow:1; */
  background: #443344;
  position: absolute;
  padding: 35px, 10px, 75px, 20px;
  width: 100vw;
  height: 100vh;
  box-shadow: 0 0 150px 15px black;
  justify-content: space-evenly;
  overflow: scroll; 
  overflow-y: scroll;
  overflow-x: hidden;
  /* flex-grow: 1; */
}

.row {
  flex-direction: row;
  width: 84%;
  flex-direction: unset;
  margin: 0 auto;
  padding: 5px;
  /* width: fit-content; */
  justify-content: center;
  text-align: center;
}

.col {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  /* align-content: space-between; */
  padding: 5px;
} 

h1 {
  font-size: 2.9em;
  font-weight: 800px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 1.8%;
  color: darkgoldenrod;
  position: flex;
  flex-direction: row;
  text-align: center;
  text-shadow: 5px 3px black;
  margin-bottom: 1%;
}

a {
  color: teal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: lightgrey;
  font-size: 0.7em;
  text-decoration: underline;
}

.jumbotron {
  width: 95%;
  background-image: url("../images/stars_background.jpg");
  margin-top: 0%;
  height: fit-content;
  /* overflow: hidden; */
}

img {
  margin: 0 auto;
  height: 265px;
  width: 29.5%;
  position: flex;
  border: #121212 solid 1.5px;
  margin-bottom: 1px;
  justify-content: space-evenly;
  opacity: 0.75;
}

#art {
  height: 265px;
  width: 35%;
  -webkit-filter: blur(0px);
  opacity: 0.85;
}
h3 {
  font-size: 2.75em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #060606;
  font-weight:1000;
  text-align: center;
  flex-wrap: nowrap;
  /* margin-top: 1%; */
  margin-bottom: 1%;
  text-shadow: 0.2%;
  margin-top: 1.2%;
}

p {
  font-weight: 800px;
  font-style: bold;
  line-height: 1.6;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: left;
  flex: auto;
  flex-wrap: wrap;
  width: 100%;
  color: lightgrey;
  font-size: 0.65em;
  padding: 1.8%;
  font-weight: 400;
  text-shadow: 2px 2px black;
  position: flex;
  font-size: 20px;
  /* margin-left: 2.5%; */
}

#p1 {
  font-size: 1.2em;
}

li {
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1.2%;
  font-size: 1.4em;
  /* margin-bottom: 0.7%; */
  display: flex;
  width: fit-content;
  display: grid;
  justify-content: center;
  flex-wrap: nowrap;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ul {
  /* list-style-type: initial; */
  font-size: 1.1em;
  flex-wrap: wrap;
  flex-direction: column;
  /* text-align: center;
  justify-content: center; */
}

a {
  color: darkcyan;
  font-style: italic;
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    text-shadow: 2px 2px black;
  flex-wrap: nowrap;
  font-size: 0.80em;
}

#lightgreen {
  margin-top: 3%;
  font-size: 0.7em;
  margin-bottom: 0%;
  /* font-size: 0.9em; */

}

#bio {
  position: flex;
  padding: 0.5%;
}

h2 {
  color: lightgray;
  font-weight: 900;
  margin-top: 1%;
  text-align: center;
  text-shadow: 4%;
  font-size: 1.5em;
  text-shadow: 1px 0.5px black;
}


h4 {
  font-size: 1.05em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: darkcyan;
  padding-top: 3%;
  text-shadow: 1.5px 0.8px black;
  font-weight: 900;
}

#images {
  justify-content:space-between;
  width: 75%;
}

#pink {
  margin-bottom: 4%;
}

#profile {
  filter: grayscale(100%);
  -webkit-filter: blur(0.2px);
}

#orange {
  color: darkgoldenrod;
  font-size: 0.7em;
}
br {
  display: block;
  margin: 10px 0;
}

b {
  color: darkcyan;
  font-size: 1.3em;
}
