body {
  color: black;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  /* overflow: hidden; */
}

.navbar {
  /* display: fixed; */
  justify-content: space-between;
  justify-content: center;
  height: 100%;
  margin: 0;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #111111;
}

.vertical-center {
  /* display: fixed; */
  background: #111111;
  filter: blur(1.5erm);
  box-shadow: 0 0 15px 5px #111111;
  opacity: 0.97;
  margin-top: 0;
  width: fit-content;
  -webkit-font-smoothing: antialiased;
  -moz-background-clip: text;
  padding: 15px;
  overflow: hidden;
  display: flex;
  flex-direction:column;
}

#parent {
  /* background-color: blue; */
  padding: 10px;
  /* height: 500px; */
  overflow: hidden;
  display: flex;
  flex-direction:column;
  position: relative;
  border: 5px solid black;
}




.container {
  padding: 10px;
  background: #444444;
  position: absolute;
  padding: 35px, 10px, 75px, 20px;
  width: 110vw;
  height: 100vh;
  box-shadow: 0 0 150px 15px black;
  justify-content: space-evenly;
  overflow: scroll; 
  overflow-y: scroll;
  overflow-x: hidden;
}

.row {
  width: 100%;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.col {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  flex-wrap: nowrap;
} 

h1 {
  font-size: 2.9em;
  font-weight: 800px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 1.8%;
  color: darkgoldenrod;
  position: flex;
  flex-direction: row;
  text-align: center;
  text-shadow: 5px 3px black;
  margin-bottom: 1%;
  margin-top: 5%;
}

a {
  color: teal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: lightgrey;
  font-size: 0.7em;
  text-decoration: underline;
}

.jumbotron {
  width: 100vw;
  background-image: url("../images/stars_background.jpg");
  margin-top: 0%;
  height: fit-content;
  /* overflow: hidden; */
}

img {
  margin: 0 auto;
  height: 265px;
  width: 32%;
  position: flex;
  border: #121212 solid 1.5px;
  margin-bottom: 1px;
  justify-content: space-evenly;
  opacity: 0.75;
}

#ssPhoto {
  width: 100%;
  height: auto;
  margin-bottom: 2%;
}

video {
  width: 100%;
  height: auto;
  padding: 1%;
}

#art {
  height: 265px;
  width: 32%;
  -webkit-filter: blur(0px);
  opacity: 0.85;
}
h3 {
  font-size: 2.2em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: lightgray;
  font-weight:800;
  text-align: center;
  flex-wrap: nowrap;
  margin-bottom: 0.75%;
}

p {
  font-weight: 800px;
  font-style: bold;
  line-height: 1.6;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: left;
  flex: auto;
  flex-wrap: wrap;
  color: lightgrey;
  font-size: 0.65em;
  /* padding: 2%; */
  font-weight: 400;
  text-shadow: 0.9px 0.9px black;
  font-size: 18px;
  width: 80%;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 2%;

}


li {

  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.25%;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  text-align: center;
}

ul {
  font-size: 1.1em;
  /* flex-wrap: nowrap; */
  margin: auto;
  padding: 2%;
}

a {
  color: darkcyan;
  font-style: italic;
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    text-shadow: 0.25px 0.25px black;
  flex-wrap: nowrap;
  font-size: 0.90em;
  text-align: center;
}



h2 {
  color: lightgray;
  font-weight: 900;
  text-align: center;
  text-shadow: 4%;
  font-size: 1.5em;
  text-shadow: 1px 0.5px black;
  margin-top: 0.5%;
}


h4 {
  font-size: 1.15em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: darkcyan;
  font-weight: 900;
  margin-bottom: 6%;
}

#images {
  justify-content:space-between;
  width: 80%;
  margin-bottom: 2%;
}


#profile {
  filter: grayscale(100%);
  -webkit-filter: blur(0.2px);
}

#orange {
  font-size: 0.8em;
  color: #282828;
}

#orangelinks {
  color: lightgray;
  font-size: 0.9em;
}


b {
  color: #080808;
  font-size: 1.15em;
  margin: 0 auto;
}

#sep {
  background-color: #242424;
}

#skillz {
  text-align: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: 1%;
  font-size: 1.7em;
}


#links {
  background-color: #242424;
  width: 80%;
  margin-bottom: 1%;
}
hr { 
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  color: black;
}

#phoneNum {
  color: #080808;
  font-weight: 800;
  font-size: 0.9em;
}
