body {
    background-color: cadetblue;
    color: black;
}

.container {
    background: lightgrey;
    padding: 40px;
}

h1 {
    font-size: 48px;
    padding: 10px;
    font-weight: 800px;
}

li {
    color: slateblue;
    font-weight: 600;
    padding: 5px;
}

h2 {
    padding: 5px;
    font-size: 36;
}
img {
    padding: 10px, 0px;
}

p {
    padding: 5px, 15px, 5px, 0px;
    text-align: left;
    font-weight: 500px;
    font-size: 20px;
}